# This is a basic workflow to help you get started with Actions

name: OBO file validation

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    container:
      image: obolibrary/odkfull

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v2

    # Runs a single command using the runners shell
    - name: Validate OBO file
      run: fastobo-validator --duplicates psi-ms.obo
    - uses: actions/setup-python@v6
      with:
          python-version: '3.10'
    - name: Check sorting
      run: |
        python -m pip install fastobo
        python scripts/check_sorted.py psi-ms.obo
